@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --ff-heading: 'Fraunces', serif;
    --ff-body: 'Barlow', sans-serif;
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: var(--ff-heading);
    font-weight: 900;
}

p {
    color: var(--very-dark-grayish-blue);
    font-weight: 600;
}

a {
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Header section */

#header {
    background-image: url('images/desktop/image-header.jpg');
    background-size: 100%;
    background-position: cover center;
    color: var(--white);
    height: 90vh;  
}

.nav-link {
    color: var(--white);
    margin: 0 20px;
}

.contact-style button {
    background-color: var(--white);
    border: none;
    border-radius: 25px;
}

.contact-style a {
    color: var(--dark-desaturated-cyan);
    font-family: var(--ff-heading);
    font-size: 1rem;
    text-transform: uppercase;
}

.heading-primary {
    font-size: 3.5rem;
    letter-spacing: 5px;
    margin: 10% 0 5%;
    text-transform: uppercase;
}

/* Showcase Section */

.flex-container {
    display: flex;
    line-height: 1.5;
}

.showcase-context {
    align-self: center;
    flex-basis: 50%;
    padding: 0 9%;
    text-align: left;
}

.heading-secondary {
    color: var(--very-dark-desaturated-blue);
    font-size: 2.5rem;
}

.showcase-paragraph {
    padding: 5% 0;
}

.learn-more {
    color: var(--very-dark-desaturated-blue);
    border-bottom: 5px solid var(--yellow);
    font-family: var(--ff-heading);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.second-row .learn-more {
    border-bottom: 5px solid var(--soft-red);
}

.img-container {
    width: 50%;
}

.img-container img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.grid {
    display: grid;
}

.grid > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.third-row-context {
    justify-self: center;
    align-self: end;
    margin-bottom: 20px;
    width: 50%;
}

.heading-tertiary {
    text-transform: capitalize;
}

.third-row-context * {
    color: var(--dark-desaturated-cyan);
}

.third-row-context * {
    color: var(--dark-blue)
}

.third-row-paragraph {
    font-size: 1rem;
    padding: 5% 0;
}

/* Testimonial Section */

#testimonials {
    padding: 10%;
    font-size: 1rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.testimonial-heading {
    color: var(--grayish-blue);
    letter-spacing: 5px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.avatar {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    width: 70px;
}

.box {
    padding: 10px;
}

.testimonial-context {
    padding: 15% 0;
}

.career {
    color: var(--grayish-blue);
}

/* Gallery Section */

#gallery {
    display: flex;
}

#gallery * img {
    width: 100%;
}

/* Footer Section */

#footer {
    background-color: var(--dark-moderate-cyan);
    padding: 10vh 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.attribution { 
    background-color: var(--dark-moderate-cyan);
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
