@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --ff-heading: 'Fraunces', serif;
    --ff-body: 'Barlow', sans-serif;
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    text-align: center;
}

h1 {
    font-family: var(--ff-heading);
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10% 0 7%;
}

#header {
    background-image: url('images/desktop/image-header.jpg');
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    color: var(--white);
    height: 100vh;
}

.nav-link {
    color: var(--white);
    font-weight: 600;
    margin: 0 20px;
}

.contact-style {
    background-color: var(--white);
    border-radius: 25px;
    color: var(--very-dark-desaturated-blue);
    font-family: var(--ff-heading);
    font-size: .8rem;
    text-transform: uppercase;
    margin-top: 4px;
    padding: 10px 20px;
    width: 90%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
